<h1>Edit</h1>

<h1>New topic</h1>

<%= form_for(@topic, :html => {:multipart => true}) do |f|%>
    <%= f.label "topic Name: " %>
    <%= f.text_field :name %>

    <%= f.label "topic Image: " %>
    <%= f.cl_image_upload :image %>

    <%= f.submit "Edit"%>

    <% end %>