<h1>Sign up!</h1>
<br><br><br>
<h2 class="body">
<% if @user.errors.any? %>
    <ul> 
        <% @user.errors.full_messages.each do |msg| %>
            <li><%=  msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for @user do |f| %>

    <%= f.label :email  %>
    <%= f.email_field :email  %>
<br>
    <%= f.label :password %>
    <%= f.password_field :password %>
<br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <br>
    <%= f.submit "Sign up!" %>

<% end %>

</h2>