<h1>Sign up!</h1>
<br><br><br>

<body class="universal">

<% if @user.errors.any? %>
    <ul> 
        <% @user.errors.full_messages.each do |msg| %>
            <li><%=  msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for @user do |f| %>

<div class="form">

        <%= f.email_field :email, :type => "text", :id => "email", :class => "form__input", :autocomplete => "off", :placehodler => " "   %>
        <%= f.label :email, :for => "email", :class => "form__label"  %>
        
    </div>
    <br>
    <div class="form">
        
        <%= f.password_field :password, :type => "password", :id => "email", :class => "form__input" %>
        <%= f.label :password, :for => "password", :class => "form__label" %>
    <br>
    </div>
    <br>
    <div class="form">
        
        <%= f.password_field :password_confirmation, :type => "password", :id => "email", :class => "form__input", :autocomplete => "off", :placehodler => " "  %>
        <%= f.label :password_confirmation,  :for => "password", :class => "form__label" %>
    </div>

        <br>
        <h5 class="body">
        <%= f.submit "Sign up!" %>
        </h5>

<% end %>


</body>