<h1>Edit philosopher</h1>

<%= form_for(@philosopher) do |f|%> <!--, :html => {:multipart => true}) -->
    <%= f.label "philosopher Name: " %>
    <%= f.text_field :title %>

    <%= f.label "philosopher Image: " %>
    <!-- f.cl_image_upload :image -->

    <%= f.submit "Edit philosopher"%>

<% end %>