<h1><%= @philosopher.title %> </h1>

 <!--cl_image_tag(@philosopher.image)-->

 <h2 class="body">
    <% if @philosopher.materials.present? %>
    <% @philosopher.materials.each do |material| %>
        <li>Material: <%= link_to material.title, material %></li>
        <li>Author: <%= link_to material.author, material %></li>
        <% end %>
    <% end %>
</h2>
<br>
<br>
<br>
<br>
<br>

<h2 class="body">

<% if @current_user.admin? %>
    <div class = "controls">
    <%= link_to 'Edit philosopher', edit_philosopher_path(@philosopher) %>
    <%= link_to 'Delete philosopher', @philosopher, :method => 'delete', :data => { :confirm => 'Are you super, super sure?' } %>
    </div>
<% end %>

    
</h2>




