<h1>New material</h1>

<h2 class="body">
<%= form_for(@material, :html => {:multipart => true}) do |f|%>
    <%= f.label "Material name:" %>
    <%= f.text_field :title, :required => true%>

    <!--how do i automate the title so it is automatically pulled from the link?-->

    <%= f.label "Link to material:" %>
    <%= f.url_field :link, :required => true %>

    <%= f.submit %>

    <% end %>

</h2>