<h1>New material</h1>
<br><br><br><br>

<body class="universal">

<%= form_for(@material, :html => {:multipart => true}) do |f|%>

<div class="form">
    
    <%= f.text_field :title, :required => true, :type => "text", :id => "email", :class => "form__input"  %>
    <%= f.label "Material name:", :class => "form__label"    %>
</div>

<br>

<div class="form">
    <%= f.text_field :author, :required => true, :id => "email", :class => "form__input", :type => "text" %>
    <%= f.label "Material author:", :for => "email", :class => "form__label"   %>
    
</div>

<br>

<div class="form">
    
    <%= f.url_field :link, :required => true, :id => "email", :class => "form__input", :type => "text"  %>
    <%= f.label "Link to material:", :for => "email", :class => "form__label"   %>
</div>

<br>

<div class="form">
    <%= f.label :topic_id %>
    <%= f.select(:topic_id, Topic.pluck(:title, :id), :include_blank => true)%>
</div> 

<h5 class="form">
    <%= f.submit %>
</h5>

<% end %>


</body>
